{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
      <table>
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Action</th>
        <th>Delete</th>
      </tr>
          {% for item in listOfItems %}
            <tr>
                <td>{{ item.title }}</td>
                <td>
                    {% if item.status == 'Not Started' %}
                        <p class="text-danger">{{ item.status }}</p>
                    {% elif item.status == 'Completed' %}
                        <p class="text-success">{{ item.status }}</p>
                    {% endif %}
                </td>
                <td>

                    <form action="{{ url_for("complete") }}" method="post">
                        <button name="completeButton" class = "btn" type="submit"
                            value={{ item.id }}>Complete
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{{ url_for("delete") }}" method="post">
                            <button name="deleteButton" class = "btn" type="submit"
                                value={{ item.id }}>Delete
                            </button>
                    </form>
                </td>
            </tr>
          {% endfor %}
      </table>
      </ul>
    </div>
  </div>

  <form action="{{ url_for("add") }}" method="post" class="form">
    <div class="form">
        <br><label for="title">Name of item: </label>
        <input type="text" name="title" required>
    </div>
    <div class="form">
        <input type="submit" value="Submit!">
    </div>
  </form>
{% endblock %}